@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    38 6th ave<br />
    La Grange, IL 60525<br />
    <abbr title="Phone">P:</abbr>
    708.267.0119
    <abbr title="Phone">P:</abbr>
    630.880.2317
</address>

<address>
    <strong>Back-End Developer:</strong><a href="mailto:thomas@isophex.com">thomas@isohphex.com</a><br />
    <strong>Front-End Developer:</strong><a href="mailto:jakeschroeder8@gmail.com">jakeschroeder8@gmail.com</a>
</address>