
@{
    ViewBag.Title = "Future";
}
@section IntroRow
{
    <h1>The Future of Incline Fitness</h1>
    <h3>The Future of Incline Fitness holds many great challenges and triumphs.</h3>
    <div class="secondary-header-wrapper">
        <nav class="secondary-header" id="smallnav">
            <ul class="secondary-nav">
                <li><a class="secondary-link active" href="#clientAnchor">Clients</a></li>
                <li><a class="secondary-link" href="#feedbackAnchor">Feedback</a></li>
                <li><a class="secondary-link" href="#continuumAnchor">Continuum</a></li>
            </ul>
        </nav>
    </div>
}

<div class="row" id="jake-row">
    <section class="jake-section">
        <!-- <a id="myAnchor"> -->
        <h2><a id="clientAnchor">We provide for Schools</a></h2>
        <!-- </a> -->
        <h3>Lyons Township High School</h3>
        <p>
            Incline Fitness is still in the Beta phase. Meaning that it is imperative people leave feedback about the app’s performance and usability. It is extremely important to the team that this feedback is left in a constructive, semantic way so that developers can understand and better fix potential issues and or bugs.
        </p>
        <a href="http://www.lths.net" target="_blank">
            <img class="lths-icon" src="../../img/lths.png" alt="#">
        </a>
        <p>
            Lyons Township High School has helped to facilitate the Incline Fitness team and provide them with all the tools necessary to develop and test the platform. We would like to thank LTHS for all the accommodations made of behalf of the project.

        </p>


    </section>
</div>
<div class="row" id="tom-row">
    <section class="tom-section">
        <!-- <a id="myAnchor"> -->
        <h2><a id="feedbackAnchor">We Need Feedback</a></h2>
        <!-- </a> -->
        <h3>You can help by downloading the app, filing bug reports, and leaving a response on google form.</h3>
        <p>
            Incline Fitness is still in the Beta phase. Meaning that it is imperative people leave feedback about the app’s performance and usability. It is extremely important to the team that this feedback is left in a constructive, semantic way so that developers can understand and better fix potential issues and or bugs.
        </p>
        <div class="btn-group">
            <button class="button appstore" type="button" name="button" onclick="location.href='https://github.com/orgs/InclineApp/people/OceanOSdev'">

                <span class="btn-icon-wrapper"><img class="apple-icon" src="../../img/apple.svg" alt="">Get App</span>
            </button>
            <button class="button seeform" type="button" name="button" onclick="location.href='https://github.com/orgs/InclineApp/people/OceanOSdev'">
                See Form
            </button>
        </div>

        <p>
            We encourage you to download the app and try it for yourself. If you come across a bug and or would like to suggest an improvement, you can do so by visiting the Google feedback form and provide your name and bug/improvement. This will give you the means necessary for describing a problem or explaining an improvement.
        </p>


    </section>
</div>
<div class="row" id="continue-row">
    <section class="tom-section">
        <!-- <a id="myAnchor"> -->
        <h2><a id="continuumAnchor">Continuation of Development</a></h2>
        <!-- </a> -->
        <h3>We plan on extending Incline Fitness services and adding new, more sought after features.</h3>
        <p>
            We plan to continue development for the app as well as build out a new aspect of the platform. This new feature will serve as a web admin portal for teachers and students. They will be able to see real-time reporting and export data for further analytics.
        </p>
        <button class="button github" type="button" name="button" onclick="location.href='https://github.com/orgs/InclineApp/people/OceanOSdev'">
            See Power BI
        </button>
        <p>
            This web app will utilize Microsoft Power BI service in combination with the Azure database. It is hard to say exactly when this feature will be implemented, however we are hoping to finish implementation by the end of June 2017. Thanks for being patience and we hope to see back for the release.

        </p>



    </section>
</div>
