@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Incline</h1>
    <p class="lead">Incline is a new service to help with tracking fitness progress for schools and companies.</p>
    <p><a href="" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Incline gives you a powerful way to moniter your students' and employees' fitness that
            enables your school/company to grow.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Reading is fun.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>On the Web and on Your Device</h2>
        <p>
            You can easily view your organization's progress from the web and from your phone.
            Your employees/students are also able to view and update their progress from the
            web and their phone.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>