
@{
    ViewBag.Title = "Team";
}

@section IntroRow
{

    <h1>Students behind Incline Fitness</h1>
    <h3>Incline Fitness was built by highschool students Jake Schroeder and Thomas Maloney.</h3>
    <div class="secondary-header-wrapper">
        <nav class="secondary-header" id="smallnav">
            <ul class="secondary-nav">
                <li><a class="secondary-link active" href="#jakeAnchor">Jake Schroeder</a></li>
                <li><a class="secondary-link" href="#tomAnchor">Thomas Maloney</a></li>
            </ul>
        </nav>
    </div>

}

<div class="row" id="jake-row">
    <section class="jake-section">
        <!-- <a id="myAnchor"> -->
        <h2><a id="jakeAnchor">Jake Schroeder</a></h2>
        <!-- </a> -->
        <h3>Front End Developer and Designer</h3>
        <p>
            Jake is currently a senior in high school and is planning on going to college for computer programming and design. He was approached late junior year with the opportunity to develop an app that would help improve his high school’s fitness department. The app needed to completely replace the school’s current means for entering and analyzing presidential fitness data. Initially the app idea was listed as a build challenge, meaning anyone could develop a prototype and later they would be compared.
        </p>
        <button class="button github" type="button" name="button" onclick="location.href='https://github.com/JakeSchroeder'">
            Jake's Github
        </button>
        <p>
            Jake decided to combine efforts with his friend Thomas Maloney, another junior. After countless weeks of development and research, Incline Fitness was born and both Jake and Tom received the best project award and were allowed to further work on the project over the summer. During the following 2 months Jake worked on designing and developing the front end portion of the Incline Fitness mobile application. He worked closely with Thomas on implementation and testing, on July 17th 2016 Incline Fitness was published on the IOS marketplace for anyone to download completely free.
        </p>


    </section>
</div>
<div class="row" id="tom-row">
    <section class="tom-section">
        <!-- <a id="myAnchor"> -->
        <h2><a id="tomAnchor">Thomas Maloney</a></h2>
        <!-- </a> -->
        <h3>Back End Developer and Systems Architecht</h3>
        <p>
            Tom is currently a senior in high school and is planning on attending Iowa State University in fall of 2017. Tom worked closely with Jake on Incline Fitness. He handled the back-end development and specialized in server architecture. Tom understands the power of server computing and wants to bring that power to people that could benefit from it. Tom has worked on many projects including a French conjugation application built for the windows phone environment. He is very proud of its functionality and server implementation. He encourages people to check out its source code on GitHub and request a fork.
        </p>
        <button class="button github" type="button" name="button" onclick="location.href='https://github.com/orgs/InclineApp/people/OceanOSdev'">
            Tom's Github
        </button>
        <p>
            Tom hopes to continue development in college and learn more about the core data structures and algorithms that make computers work. After college, he hopes to join a company like Microsoft or Google and work as a systems architect, creating robust systems that can handle any load and scale accordingly.
        </p>


    </section>
</div>
