
@{
    ViewBag.Title = "Technology";
}

@section IntroRow
{
    <h1>Incline Fitness</h1>
    <h3>Here is a list of the technology we utilize to create incline fitness.</h3>
    <div class="secondary-header-wrapper">
        <nav class="secondary-header" id="smallnav">
            <ul class="secondary-nav">
                <li class="filter" data-filter="all">
                    <a class="" href="#">All</a>
                </li>
                <li class="filter" data-filter=".design">
                    <a class="" href="#">Design</a>
                </li>
                <li class="filter" data-filter=".front-end">
                    <a class="" href="#">Front-End</a>
                </li>
                <li class="filter" data-filter=".back-end">
                    <a class="" href="#">Back-End</a>
                </li>
                <li class="filter" data-filter=".management">
                    <a class="" href="#">Management</a>
                </li>
            </ul>
        </nav>
    </div>
}

<div class="row" id="filter-row">
    <section class="filter-section">
        <ul id="Container">
            <li class="mix design" data-my-order="1">
                <div class="grid-card">
                    <a href="http://www.adobe.com/products/photoshop.html">
                        <img class="grid-card-image" src="../../img/photoshop.svg">
                        <h3 class="grid-card-title">Photoshop</h3>
                        <p class="grid-card-subtitle">by Adobe</p>
                    </a>
                </div>
            </li>
            <li class="mix design" data-my-order="2">
                <div class="grid-card">
                    <a href="http://www.adobe.com/products/illustrator.html">
                        <img class="grid-card-image" src="../../img/illustrator.svg">
                        <h3 class="grid-card-title">Illustrator</h3>
                        <p class="grid-card-subtitle">by Adobe</p>
                    </a>
                </div>
            </li>
            <li class="mix design" data-my-order="3">
                <div class="grid-card">
                    <a href="https://www.invisionapp.com/">
                        <img class="grid-card-image" src="../../img/invision.svg">
                        <h3 class="grid-card-title">Invision</h3>
                        <p class="grid-card-subtitle">by Invision</p>
                    </a>
                </div>
            </li>
            <li class="mix design" data-my-order="4">
                <div class="grid-card">
                    <a href="http://www.adobe.com/products/premiere.html">
                        <img class="grid-card-image" src="../../img/premiere.svg">
                        <h3 class="grid-card-title">Premiere</h3>
                        <p class="grid-card-subtitle">by Adobe</p>
                    </a>
                </div>
            </li>
            <li class="mix design" data-my-order="5">
                <div class="grid-card">
                    <a href="https://www.sketchapp.com/">
                        <img class="grid-card-image" src="../../img/sketch.svg">
                        <h3 class="grid-card-title">Sketch 3</h3>
                        <p class="grid-card-subtitle">by Bohemian Coding</p>
                    </a>
                </div>
            </li>
            <li class="mix front-end" data-my-order="6">
                <div class="grid-card">
                    <a href="https://jquery.com/">
                        <img class="grid-card-image" src="../../img/.svg">
                        <h3 class="grid-card-title">jQuery</h3>
                        <p class="grid-card-subtitle">by Dave Methvin's Team</p>
                    </a>
                </div>
            </li>
            <li class="mix front-end" data-my-order="7">
                <div class="grid-card">
                    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3">
                        <img class="grid-card-image" src="../../img/.svg">
                        <h3 class="grid-card-title">CSS3</h3>
                        <p class="grid-card-subtitle">WWWC</p>
                    </a>
                </div>
            </li>
            <li class="mix front-end" data-my-order="8">
                <div class="grid-card">
                    <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5">
                        <img class="grid-card-image" src="../../img/.svg">
                        <h3 class="grid-card-title">HTML5</h3>
                        <p class="grid-card-subtitle">WWWC</p>
                    </a>
                </div>
            </li>
            <li class="mix front-end" data-my-order="9">
                <div class="grid-card">
                    <a href="https://developer.apple.com/xcode/ide/">
                        <img class="grid-card-image" src="../../img/.svg">
                        <h3 class="grid-card-title">Xcode</h3>
                        <p class="grid-card-subtitle">by Apple</p>
                    </a>
                </div>
            </li>
            <li class="mix front-end" data-my-order="10">
                <div class="grid-card">
                    <a href="https://developer.apple.com/swift/">
                        <img class="grid-card-image" src="../../img/.svg">
                        <h3 class="grid-card-title">Swift 2.2</h3>
                        <p class="grid-card-subtitle">by Apple</p>
                    </a>
                </div>
            </li>
            <li class="mix front-end" data-my-order="11">
                <div class="grid-card">
                    <a href="https://powerbi.microsoft.com/en-us/">
                        <img class="grid-card-image" src="../../img/.svg">
                        <h3 class="grid-card-title">Power BI</h3>
                        <p class="grid-card-subtitle">by Microsoft</p>
                    </a>
                </div>
            </li>
            <li class="mix front-end" data-my-order="12">
                <div class="grid-card">
                    <a href="https://atom.io/">
                        <img class="grid-card-image" src="../../img/.svg">
                        <h3 class="grid-card-title">Atom.io</h3>
                        <p class="grid-card-subtitle">by Github</p>
                    </a>
                </div>
            </li>
            <li class="mix back-end" data-my-order="13">
                <div class="grid-card">
                    <a href="https://www.asp.net/">
                        <img class="grid-card-image" src="../../img/.svg">
                        <h3 class="grid-card-title">Asp.net</h3>
                        <p class="grid-card-subtitle">by Microsoft</p>
                    </a>
                </div>
            </li>
            <li class="mix back-end" data-my-order="14">
                <div class="grid-card">
                    <a href="https://msdn.microsoft.com/en-us/library/a72418yk.aspx">
                        <img class="grid-card-image" src="../../img/.svg">
                        <h3 class="grid-card-title">C#</h3>
                        <p class="grid-card-subtitle">by Microsoft</p>
                    </a>
                </div>
            </li>
            <li class="mix back-end" data-my-order="15">
                <div class="grid-card">
                    <a href="https://www.visualstudio.com/">
                        <img class="grid-card-image" src="../../img/.svg">
                        <h3 class="grid-card-title">Visual Studio</h3>
                        <p class="grid-card-subtitle">by Microsoft</p>
                    </a>
                </div>
            </li>
            <li class="mix management" data-my-order="17">
                <div class="grid-card">
                    <a href="https://www.visualstudio.com/team-services/">
                        <img class="grid-card-image" src="../../img/.svg">
                        <h3 class="grid-card-title">Visual Studio Team Agile</h3>
                        <p class="grid-card-subtitle">by Microsoft</p>
                    </a>
                </div>
            </li>
            <li class="mix management" data-my-order="18">
                <div class="grid-card">
                    <a href="https://azure.microsoft.com/en-us/services/sql-database/">
                        <img class="grid-card-image" src="../../img/.svg">
                        <h3 class="grid-card-title">Azure SQL</h3>
                        <p class="grid-card-subtitle">by Microsoft</p>
                    </a>
                </div>
            </li>
            <li class="mix management" data-my-order="19">
                <div class="grid-card">
                    <a href="https://github.com/">
                        <img class="grid-card-image" src="../../img/.svg">
                        <h3 class="grid-card-title">Github</h3>
                        <p class="grid-card-subtitle">by Github</p>
                    </a>
                </div>
            </li>
        </ul>
    </section>
</div>